- content_box_file = '../apps/_content_support_index.slim'
- no_breadcrumbs = true
- all_solid_bg = true

- custom_top_bar_settings = Hash.new
- custom_top_bar_settings['color_scheme'] = 'bright'
- custom_top_bar_settings['show_support_selector'] = true

// Menu Settings variables
- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'dark' #dark|light
- custom_menu_settings['color_style'] = 'bright' #bright|default|transparent
- custom_menu_settings['layout'] = 'mini'

include ../_partials/_template.slim