- content_box_file = '../apps/_content_todo.slim'
- no_breadcrumbs = true
- no_padding = true

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'dark'
- custom_menu_settings['color_style'] = 'bright'
- custom_menu_settings['layout'] = 'mini'
- custom_menu_settings['show_settings_in_menu'] = false
- custom_menu_settings['show_messages_in_menu'] = false
- custom_menu_settings['show_notifications_in_menu'] = false
- custom_menu_settings['show_search_in_menu'] = false

- custom_top_bar_settings = Hash.new
- custom_top_bar_settings['color_scheme'] = 'light'
- custom_top_bar_settings['show_menu'] = true

- extra_js_files = ['bower_components/dragula.js/dist/dragula.min.js']
- extra_css_files = ['bower_components/dragula.js/dist/dragula.min.css']

include ../_partials/_template.slim