.element-wrapper
  .element-box
    h5.form-header= template_vars[0]['element_header']
    .form-desc== template_vars[0]['element_desc']
    ul.demo-icons-list
      <li><a href="#"><i class="lsf symbol">table</i><span>table</span></a></li>
      <li><a href="#"><i class="lsf symbol">copy</i><span>copy</span></a></li>
      <li><a href="#"><i class="lsf symbol">cut</i><span>cut</span></a></li>
      <li><a href="#"><i class="lsf symbol">backspace</i><span>backspace</span></a></li>
      <li><a href="#"><i class="lsf symbol">alignleft</i><span>alignleft</span></a></li>
      <li><a href="#"><i class="lsf symbol">aligncenter</i><span>aligncenter</span></a></li>
      <li><a href="#"><i class="lsf symbol">alignright</i><span>alignright</span></a></li>
      <li><a href="#"><i class="lsf symbol">alignadjust</i><span>alignadjust</span></a></li>
      <li><a href="#"><i class="lsf symbol">italic</i><span>italic</span></a></li>
      <li><a href="#"><i class="lsf symbol">bold</i><span>bold</span></a></li>
      <li><a href="#"><i class="lsf symbol">underline</i><span>underline</span></a></li>
      <li><a href="#"><i class="lsf symbol">strike</i><span>strike</span></a></li>
      <li><a href="#"><i class="lsf symbol">emphasis</i><span>emphasis</span></a></li>
      <li><a href="#"><i class="lsf symbol">code</i><span>code</span></a></li>
      <li><a href="#"><i class="lsf symbol">link</i><span>link</span></a></li>
      <li><a href="#"><i class="lsf symbol">quote</i><span>quote</span></a></li>
      <li><a href="#"><i class="lsf symbol">graph</i><span>graph</span></a></li>
      <li><a href="#"><i class="lsf symbol">magic</i><span>magic</span></a></li>
      <li><a href="#"><i class="lsf symbol">brush</i><span>brush</span></a></li>
      <li><a href="#"><i class="lsf symbol">color</i><span>color</span></a></li>
      <li><a href="#"><i class="lsf symbol">contrast</i><span>contrast</span></a></li>
      <li><a href="#"><i class="lsf symbol">ink</i><span>ink</span></a></li>
      <li><a href="#"><i class="lsf symbol">gradation</i><span>gradation</span></a></li>
      <li><a href="#"><i class="lsf symbol">sepia</i><span>sepia</span></a></li>
      <li><a href="#"><i class="lsf symbol">invert</i><span>invert</span></a></li>
      <li><a href="#"><i class="lsf symbol">paint</i><span>paint</span></a></li>
      <li><a href="#"><i class="lsf symbol">paramater</i><span>paramater</span></a></li>
      <li><a href="#"><i class="lsf symbol">crop</i><span>crop</span></a></li>
      <li><a href="#"><i class="lsf symbol">check</i><span>check</span></a></li>
      <li><a href="#"><i class="lsf symbol">checkbox</i><span>checkbox</span></a></li>
      <li><a href="#"><i class="lsf symbol">checkboxempty</i><span>checkboxempty</span></a></li>
      <li><a href="#"><i class="lsf symbol">pc</i><span>pc</span></a></li>
      <li><a href="#"><i class="lsf symbol">keyboard</i><span>keyboard</span></a></li>
      <li><a href="#"><i class="lsf symbol">mobile</i><span>mobile</span></a></li>
      <li><a href="#"><i class="lsf symbol">horizontal</i><span>horizontal</span></a></li>
      <li><a href="#"><i class="lsf symbol">vertical</i><span>vertical</span></a></li>
      <li><a href="#"><i class="lsf symbol">web</i><span>web</span></a></li>
      <li><a href="#"><i class="lsf symbol">mail</i><span>mail</span></a></li>
      <li><a href="#"><i class="lsf symbol">shopping</i><span>shopping</span></a></li>
      <li><a href="#"><i class="lsf symbol">dashboard</i><span>dashboard</span></a></li>
      <li><a href="#"><i class="lsf symbol">key</i><span>key</span></a></li>
      <li><a href="#"><i class="lsf symbol">sns</i><span>sns</span></a></li>
      <li><a href="#"><i class="lsf symbol">calendar</i><span>calendar</span></a></li>
      <li><a href="#"><i class="lsf symbol">dailycalendar</i><span>dailycalendar</span></a></li>
      <li><a href="#"><i class="lsf symbol">ban</i><span>ban</span></a></li>
      <li><a href="#"><i class="lsf symbol">remove</i><span>remove</span></a></li>
      <li><a href="#"><i class="lsf symbol">pen</i><span>pen</span></a></li>
      <li><a href="#"><i class="lsf symbol">eraser</i><span>eraser</span></a></li>
      <li><a href="#"><i class="lsf symbol">edit</i><span>edit</span></a></li>
      <li><a href="#"><i class="lsf symbol">tabs</i><span>tabs</span></a></li>
      <li><a href="#"><i class="lsf symbol">tag</i><span>tag</span></a></li>
      <li><a href="#"><i class="lsf symbol">setup</i><span>setup</span></a></li>
      <li><a href="#"><i class="lsf symbol">setting</i><span>setting</span></a></li>
      <li><a href="#"><i class="lsf symbol">etc</i><span>etc</span></a></li>
      <li><a href="#"><i class="lsf symbol">clip</i><span>clip</span></a></li>
      <li><a href="#"><i class="lsf symbol">bookmark</i><span>bookmark</span></a></li>
      <li><a href="#"><i class="lsf symbol">book</i><span>book</span></a></li>
      <li><a href="#"><i class="lsf symbol">album</i><span>album</span></a></li>
      <li><a href="#"><i class="lsf symbol">user</i><span>user</span></a></li>
      <li><a href="#"><i class="lsf symbol">friend</i><span>friend</span></a></li>
      <li><a href="#"><i class="lsf symbol">group</i><span>group</span></a></li>
      <li><a href="#"><i class="lsf symbol">frustrate</i><span>frustrate</span></a></li>
      <li><a href="#"><i class="lsf symbol">laugh</i><span>laugh</span></a></li>
      <li><a href="#"><i class="lsf symbol">wink</i><span>wink</span></a></li>
      <li><a href="#"><i class="lsf symbol">smile</i><span>smile</span></a></li>
      <li><a href="#"><i class="lsf symbol">surprise</i><span>surprise</span></a></li>
      <li><a href="#"><i class="lsf symbol">trouble</i><span>trouble</span></a></li>
      <li><a href="#"><i class="lsf symbol">male</i><span>male</span></a></li>
      <li><a href="#"><i class="lsf symbol">female</i><span>female</span></a></li>
      <li><a href="#"><i class="lsf symbol">game</i><span>game</span></a></li>
      <li><a href="#"><i class="lsf symbol">globe</i><span>globe</span></a></li>
      <li><a href="#"><i class="lsf symbol">home</i><span>home</span></a></li>
      <li><a href="#"><i class="lsf symbol">building</i><span>building</span></a></li>
      <li><a href="#"><i class="lsf symbol">rss</i><span>rss</span></a></li>
      <li><a href="#"><i class="lsf symbol">server</i><span>server</span></a></li>
      <li><a href="#"><i class="lsf symbol">sitemap</i><span>sitemap</span></a></li>
      <li><a href="#"><i class="lsf symbol">app</i><span>app</span></a></li>
      <li><a href="#"><i class="lsf symbol">memo</i><span>memo</span></a></li>
      <li><a href="#"><i class="lsf symbol">meal</i><span>meal</span></a></li>
      <li><a href="#"><i class="lsf symbol">coffee</i><span>coffee</span></a></li>
      <li><a href="#"><i class="lsf symbol">spa</i><span>spa</span></a></li>
      <li><a href="#"><i class="lsf symbol">college</i><span>college</span></a></li>
      <li><a href="#"><i class="lsf symbol">bag</i><span>bag</span></a></li>
      <li><a href="#"><i class="lsf symbol">present</i><span>present</span></a></li>
      <li><a href="#"><i class="lsf symbol">umbrella</i><span>umbrella</span></a></li>
      <li><a href="#"><i class="lsf symbol">twinkle</i><span>twinkle</span></a></li>
      <li><a href="#"><i class="lsf symbol">crown</i><span>crown</span></a></li>
      <li><a href="#"><i class="lsf symbol">category</i><span>category</span></a></li>
      <li><a href="#"><i class="lsf symbol">circle</i><span>circle</span></a></li>
      <li><a href="#"><i class="lsf symbol">info</i><span>info</span></a></li>
      <li><a href="#"><i class="lsf symbol">help</i><span>help</span></a></li>
      <li><a href="#"><i class="lsf symbol">refreshbutton</i><span>refreshbutton</span></a></li>
      <li><a href="#"><i class="lsf symbol">terminal</i><span>terminal</span></a></li>
      <li><a href="#"><i class="lsf symbol">file</i><span>file</span></a></li>
      <li><a href="#"><i class="lsf symbol">print</i><span>print</span></a></li>
      <li><a href="#"><i class="lsf symbol">delete</i><span>delete</span></a></li>
      <li><a href="#"><i class="lsf symbol">clear</i><span>clear</span></a></li>
      <li><a href="#"><i class="lsf symbol">save</i><span>save</span></a></li>
      <li><a href="#"><i class="lsf symbol">upload</i><span>upload</span></a></li>
      <li><a href="#"><i class="lsf symbol">cloud</i><span>cloud</span></a></li>
      <li><a href="#"><i class="lsf symbol">folder</i><span>folder</span></a></li>
      <li><a href="#"><i class="lsf symbol">camera</i><span>camera</span></a></li>
      <li><a href="#"><i class="lsf symbol">photo</i><span>photo</span></a></li>
      <li><a href="#"><i class="lsf symbol">image</i><span>image</span></a></li>
      <li><a href="#"><i class="lsf symbol">barcode</i><span>barcode</span></a></li>
      <li><a href="#"><i class="lsf symbol">phone</i><span>phone</span></a></li>
      <li><a href="#"><i class="lsf symbol">music</i><span>music</span></a></li>
      <li><a href="#"><i class="lsf symbol">video</i><span>video</span></a></li>
      <li><a href="#"><i class="lsf symbol">playmedia</i><span>playmedia</span></a></li>
      <li><a href="#"><i class="lsf symbol">record</i><span>record</span></a></li>
      <li><a href="#"><i class="lsf symbol">play</i><span>play</span></a></li>
      <li><a href="#"><i class="lsf symbol">pause</i><span>pause</span></a></li>
      <li><a href="#"><i class="lsf symbol">stop</i><span>stop</span></a></li>
      <li><a href="#"><i class="lsf symbol">eject</i><span>eject</span></a></li>
      <li><a href="#"><i class="lsf symbol">bell</i><span>bell</span></a></li>
      <li><a href="#"><i class="lsf symbol">volumeup</i><span>volumeup</span></a></li>
      <li><a href="#"><i class="lsf symbol">volumedown</i><span>volumedown</span></a></li>
      <li><a href="#"><i class="lsf symbol">volume</i><span>volume</span></a></li>
      <li><a href="#"><i class="lsf symbol">off</i><span>off</span></a></li>
      <li><a href="#"><i class="lsf symbol">light</i><span>light</span></a></li>
      <li><a href="#"><i class="lsf symbol">dark</i><span>dark</span></a></li>
      <li><a href="#"><i class="lsf symbol">lock</i><span>lock</span></a></li>
      <li><a href="#"><i class="lsf symbol">unlock</i><span>unlock</span></a></li>
      <li><a href="#"><i class="lsf symbol">flag</i><span>flag</span></a></li>
      <li><a href="#"><i class="lsf symbol">wifi</i><span>wifi</span></a></li>
      <li><a href="#"><i class="lsf symbol">time</i><span>time</span></a></li>
      <li><a href="#"><i class="lsf symbol">map</i><span>map</span></a></li>
      <li><a href="#"><i class="lsf symbol">geo</i><span>geo</span></a></li>
      <li><a href="#"><i class="lsf symbol">location</i><span>location</span></a></li>
      <li><a href="#"><i class="lsf symbol">pin</i><span>pin</span></a></li>
      <li><a href="#"><i class="lsf symbol">walking</i><span>walking</span></a></li>
      <li><a href="#"><i class="lsf symbol">bicycle</i><span>bicycle</span></a></li>
      <li><a href="#"><i class="lsf symbol">car</i><span>car</span></a></li>
      <li><a href="#"><i class="lsf symbol">bus</i><span>bus</span></a></li>
      <li><a href="#"><i class="lsf symbol">plane</i><span>plane</span></a></li>
      <li><a href="#"><i class="lsf symbol">compass</i><span>compass</span></a></li>
      <li><a href="#"><i class="lsf symbol">cursor</i><span>cursor</span></a></li>
      <li><a href="#"><i class="lsf symbol">pointer</i><span>pointer</span></a></li>
      <li><a href="#"><i class="lsf symbol">grab</i><span>grab</span></a></li>
      <li><a href="#"><i class="lsf symbol">arrowup</i><span>arrowup</span></a></li>
      <li><a href="#"><i class="lsf symbol">arrowright</i><span>arrowright</span></a></li>
      <li><a href="#"><i class="lsf symbol">arrowdown</i><span>arrowdown</span></a></li>
      <li><a href="#"><i class="lsf symbol">arrowleft</i><span>arrowleft</span></a></li>
      <li><a href="#"><i class="lsf symbol">up</i><span>up</span></a></li>
      <li><a href="#"><i class="lsf symbol">right</i><span>right</span></a></li>
      <li><a href="#"><i class="lsf symbol">down</i><span>down</span></a></li>
      <li><a href="#"><i class="lsf symbol">left</i><span>left</span></a></li>
      <li><a href="#"><i class="lsf symbol">back</i><span>back</span></a></li>
      <li><a href="#"><i class="lsf symbol">next</i><span>next</span></a></li>
      <li><a href="#"><i class="lsf symbol">dropdown</i><span>dropdown</span></a></li>
      <li><a href="#"><i class="lsf symbol">sort</i><span>sort</span></a></li>
      <li><a href="#"><i class="lsf symbol">good</i><span>good</span></a></li>
      <li><a href="#"><i class="lsf symbol">bad</i><span>bad</span></a></li>
      <li><a href="#"><i class="lsf symbol">full</i><span>full</span></a></li>
      <li><a href="#"><i class="lsf symbol">small</i><span>small</span></a></li>
      <li><a href="#"><i class="lsf symbol">move</i><span>move</span></a></li>
      <li><a href="#"><i class="lsf symbol">undo</i><span>undo</span></a></li>
      <li><a href="#"><i class="lsf symbol">forward</i><span>forward</span></a></li>
      <li><a href="#"><i class="lsf symbol">reply</i><span>reply</span></a></li>
      <li><a href="#"><i class="lsf symbol">share</i><span>share</span></a></li>
      <li><a href="#"><i class="lsf symbol">login</i><span>login</span></a></li>
      <li><a href="#"><i class="lsf symbol">logout</i><span>logout</span></a></li>
      <li><a href="#"><i class="lsf symbol">exchange</i><span>exchange</span></a></li>
      <li><a href="#"><i class="lsf symbol">shuffle</i><span>shuffle</span></a></li>
      <li><a href="#"><i class="lsf symbol">repeat</i><span>repeat</span></a></li>
      <li><a href="#"><i class="lsf symbol">refresh</i><span>refresh</span></a></li>
      <li><a href="#"><i class="lsf symbol">sync</i><span>sync</span></a></li>
      <li><a href="#"><i class="lsf symbol">external</i><span>external</span></a></li>
      <li><a href="#"><i class="lsf symbol">addstar</i><span>addstar</span></a></li>
      <li><a href="#"><i class="lsf symbol">star</i><span>star</span></a></li>
      <li><a href="#"><i class="lsf symbol">starempty</i><span>starempty</span></a></li>
      <li><a href="#"><i class="lsf symbol">heart</i><span>heart</span></a></li>
      <li><a href="#"><i class="lsf symbol">heartempty</i><span>heartempty</span></a></li>
      <li><a href="#"><i class="lsf symbol">view</i><span>view</span></a></li>
      <li><a href="#"><i class="lsf symbol">comment</i><span>comment</span></a></li>
      <li><a href="#"><i class="lsf symbol">comments</i><span>comments</span></a></li>
      <li><a href="#"><i class="lsf symbol">plus</i><span>plus</span></a></li>
      <li><a href="#"><i class="lsf symbol">minus</i><span>minus</span></a></li>
      <li><a href="#"><i class="lsf symbol">zoomin</i><span>zoomin</span></a></li>
      <li><a href="#"><i class="lsf symbol">zoomout</i><span>zoomout</span></a></li>
      <li><a href="#"><i class="lsf symbol">search</i><span>search</span></a></li>
      <li><a href="#"><i class="lsf symbol">menu</i><span>menu</span></a></li>
      <li><a href="#"><i class="lsf symbol">tilemenu</i><span>tilemenu</span></a></li>
      <li><a href="#"><i class="lsf symbol">list</i><span>list</span></a></li>
      <li><a href="#"><i class="lsf symbol">tile</i><span>tile</span></a></li>
      <li><a href="#"><i class="lsf symbol">notify</i><span>notify</span></a></li>
      <li><a href="#"><i class="lsf symbol">apple</i><span>apple</span></a></li>
      <li><a href="#"><i class="lsf symbol">android</i><span>android</span></a></li>
      <li><a href="#"><i class="lsf symbol">windows</i><span>windows</span></a></li>
      <li><a href="#"><i class="lsf symbol">ubuntu</i><span>ubuntu</span></a></li>
      <li><a href="#"><i class="lsf symbol">amazon</i><span>amazon</span></a></li>
      <li><a href="#"><i class="lsf symbol">facebook</i><span>facebook</span></a></li>
      <li><a href="#"><i class="lsf symbol">twitter</i><span>twitter</span></a></li>
      <li><a href="#"><i class="lsf symbol">vk</i><span>vk</span></a></li>
      <li><a href="#"><i class="lsf symbol">google</i><span>google</span></a></li>
      <li><a href="#"><i class="lsf symbol">yahoo</i><span>yahoo</span></a></li>
      <li><a href="#"><i class="lsf symbol">bing</i><span>bing</span></a></li>
      <li><a href="#"><i class="lsf symbol">hatena</i><span>hatena</span></a></li>
      <li><a href="#"><i class="lsf symbol">hatenabookmark</i><span>hatenabookmark</span></a></li>
      <li><a href="#"><i class="lsf symbol">digg</i><span>digg</span></a></li>
      <li><a href="#"><i class="lsf symbol">linkedin</i><span>linkedin</span></a></li>
      <li><a href="#"><i class="lsf symbol">myspace</i><span>myspace</span></a></li>
      <li><a href="#"><i class="lsf symbol">paperboy</i><span>paperboy</span></a></li>
      <li><a href="#"><i class="lsf symbol">mixi</i><span>mixi</span></a></li>
      <li><a href="#"><i class="lsf symbol">line</i><span>line</span></a></li>
      <li><a href="#"><i class="lsf symbol">mobage</i><span>mobage</span></a></li>
      <li><a href="#"><i class="lsf symbol">gree</i><span>gree</span></a></li>
      <li><a href="#"><i class="lsf symbol">skype</i><span>skype</span></a></li>
      <li><a href="#"><i class="lsf symbol">aim</i><span>aim</span></a></li>
      <li><a href="#"><i class="lsf symbol">yelp</i><span>yelp</span></a></li>
      <li><a href="#"><i class="lsf symbol">foursquare</i><span>foursquare</span></a></li>
      <li><a href="#"><i class="lsf symbol">pinterest</i><span>pinterest</span></a></li>
      <li><a href="#"><i class="lsf symbol">flickr</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">tumblr</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">wordpress</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">blogger</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">evernote</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">dropbox</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">slideshare</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">github</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">yapcasialogomark</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">dribbble</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">cookpad</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">instapaper</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">readability</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">gumroad</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">picasa</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">instagram</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">delicious</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">youtube</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">vimeo</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">ustream</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">soundcloud</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">chrome</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">safari</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">sleipnir</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">firefox</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">opera</i><span>flickr</span></a></li>
      <li><a href="#"><i class="lsf symbol">internetexplorer</i><span>flickr</span></a></li>