- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/eightyshades/style.css']
- template_vars = ['element_header' => 'Eightyshades', 'element_desc' => 'Powered by Eightyshades set, for more info <a href="https://dribbble.com/shots/928458-80-Shades-of-White-Icons">click here</a>',
                   'icons' => [ 'icon-store',
'icon-out',
'icon-in',
'icon-in-alt',
'icon-home',
'icon-light-bulb',
'icon-anchor',
'icon-feather',
'icon-expand',
'icon-maximize',
'icon-search',
'icon-zoom-in',
'icon-zoom-out',
'icon-add',
'icon-subtract',
'icon-exclamation',
'icon-question',
'icon-close',
'icon-cmd',
'icon-forbid',
'icon-forbid-2',
'icon-spinner',
'icon-play',
'icon-stop',
'icon-pause',
'icon-forward',
'icon-rewind',
'icon-sound',
'icon-sound-alt',
'icon-sound-off',
'icon-task',
'icon-inbox',
'icon-inbox-alt',
'icon-envelope',
'icon-compose',
'icon-newspaper',
'icon-newspaper-alt',
'icon-clipboard',
'icon-calendar',
'icon-hyperlink',
'icon-trash',
'icon-trash-alt',
'icon-grid',
'icon-grid-alt',
'icon-menu',
'icon-list',
'icon-gallery',
'icon-calculator',
'icon-windows',
'icon-browser',
'icon-alarm',
'icon-clock',
'icon-attachment',
'icon-settings',
'icon-portfolio',
'icon-user',
'icon-users',
'icon-heart',
'icon-chat',
'icon-comments',
'icon-screen',
'icon-iphone',
'icon-ipad',
'icon-fork-and-spoon',
'icon-fork-and-knife',
'icon-instagram',
'icon-facebook',
'icon-delicious',
'icon-googleplus',
'icon-dribbble',
'icon-pin',
'icon-pin-alt',
'icon-camera',
'icon-brightness',
'icon-brightness-half',
'icon-moon',
'icon-cloud',
'icon-circle-full',
'icon-circle-half',
'icon-globe']]

include ../_partials/_template.slim