- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/entypo/style.css']
- template_vars = ['element_header' => 'Entypo Icons', 'element_desc' => 'Powered by Entypo Icons set, for more info <a href="http://www.entypo.com/">click here</a>',
                   'icons' => [ 'entypo-icon-add-to-list',
'entypo-icon-classic-computer',
'entypo-icon-controller-fast-backward',
'entypo-icon-creative-commons-attribution',
'entypo-icon-creative-commons-noderivs',
'entypo-icon-creative-commons-noncommercial-eu',
'entypo-icon-creative-commons-noncommercial-us',
'entypo-icon-creative-commons-public-domain',
'entypo-icon-creative-commons-remix',
'entypo-icon-creative-commons-share',
'entypo-icon-creative-commons-sharealike',
'entypo-icon-creative-commons',
'entypo-icon-document-landscape',
'entypo-icon-remove-user',
'entypo-icon-warning',
'entypo-icon-arrow-bold-down',
'entypo-icon-arrow-bold-left',
'entypo-icon-arrow-bold-right',
'entypo-icon-arrow-bold-up',
'entypo-icon-arrow-down',
'entypo-icon-arrow-left',
'entypo-icon-arrow-long-down',
'entypo-icon-arrow-long-left',
'entypo-icon-arrow-long-right',
'entypo-icon-arrow-long-up',
'entypo-icon-arrow-right',
'entypo-icon-arrow-up',
'entypo-icon-arrow-with-circle-down',
'entypo-icon-arrow-with-circle-left',
'entypo-icon-arrow-with-circle-right',
'entypo-icon-arrow-with-circle-up',
'entypo-icon-bookmark',
'entypo-icon-bookmarks',
'entypo-icon-chevron-down',
'entypo-icon-chevron-left',
'entypo-icon-chevron-right',
'entypo-icon-chevron-small-down',
'entypo-icon-chevron-small-left',
'entypo-icon-chevron-small-right',
'entypo-icon-chevron-small-up',
'entypo-icon-chevron-thin-down',
'entypo-icon-chevron-thin-left',
'entypo-icon-chevron-thin-right',
'entypo-icon-chevron-thin-up',
'entypo-icon-chevron-up',
'entypo-icon-chevron-with-circle-down',
'entypo-icon-chevron-with-circle-left',
'entypo-icon-chevron-with-circle-right',
'entypo-icon-chevron-with-circle-up',
'entypo-icon-cloud',
'entypo-icon-controller-fast-forward',
'entypo-icon-controller-jump-to-start',
'entypo-icon-controller-next',
'entypo-icon-controller-paus',
'entypo-icon-controller-play',
'entypo-icon-controller-record',
'entypo-icon-controller-stop',
'entypo-icon-controller-volume',
'entypo-icon-dot-single',
'entypo-icon-dots-three-horizontal',
'entypo-icon-dots-three-vertical',
'entypo-icon-dots-two-horizontal',
'entypo-icon-dots-two-vertical',
'entypo-icon-download',
'entypo-icon-emoji-flirt',
'entypo-icon-flow-branch',
'entypo-icon-flow-cascade',
'entypo-icon-flow-line',
'entypo-icon-flow-parallel',
'entypo-icon-flow-tree',
'entypo-icon-install',
'entypo-icon-layers',
'entypo-icon-open-book',
'entypo-icon-resize-100',
'entypo-icon-resize-full-screen',
'entypo-icon-save',
'entypo-icon-select-arrows',
'entypo-icon-sound-mute',
'entypo-icon-sound',
'entypo-icon-trash',
'entypo-icon-triangle-down',
'entypo-icon-triangle-left',
'entypo-icon-triangle-right',
'entypo-icon-triangle-up',
'entypo-icon-uninstall',
'entypo-icon-upload-to-cloud',
'entypo-icon-upload',
'entypo-icon-add-user',
'entypo-icon-address',
'entypo-icon-adjust',
'entypo-icon-air',
'entypo-icon-aircraft-landing',
'entypo-icon-aircraft-take-off',
'entypo-icon-aircraft',
'entypo-icon-align-bottom',
'entypo-icon-align-horizontal-middle',
'entypo-icon-align-left',
'entypo-icon-align-right',
'entypo-icon-align-top',
'entypo-icon-align-vertical-middle',
'entypo-icon-archive',
'entypo-icon-area-graph',
'entypo-icon-attachment',
'entypo-icon-awareness-ribbon',
'entypo-icon-back-in-time',
'entypo-icon-back',
'entypo-icon-bar-graph',
'entypo-icon-battery',
'entypo-icon-beamed-note',
'entypo-icon-bell',
'entypo-icon-blackboard',
'entypo-icon-block',
'entypo-icon-book',
'entypo-icon-bowl',
'entypo-icon-box',
'entypo-icon-briefcase',
'entypo-icon-browser',
'entypo-icon-brush',
'entypo-icon-bucket',
'entypo-icon-cake',
'entypo-icon-calculator',
'entypo-icon-calendar',
'entypo-icon-camera',
'entypo-icon-ccw',
'entypo-icon-chat',
'entypo-icon-check',
'entypo-icon-circle-with-cross',
'entypo-icon-circle-with-minus',
'entypo-icon-circle-with-plus',
'entypo-icon-circle',
'entypo-icon-circular-graph',
'entypo-icon-clapperboard',
'entypo-icon-clipboard',
'entypo-icon-clock',
'entypo-icon-code',
'entypo-icon-cog',
'entypo-icon-colours',
'entypo-icon-compass',
'entypo-icon-copy',
'entypo-icon-credit-card',
'entypo-icon-credit',
'entypo-icon-cross',
'entypo-icon-cup',
'entypo-icon-cw',
'entypo-icon-cycle',
'entypo-icon-database',
'entypo-icon-dial-pad',
'entypo-icon-direction',
'entypo-icon-document',
'entypo-icon-documents',
'entypo-icon-drink',
'entypo-icon-drive',
'entypo-icon-drop',
'entypo-icon-edit',
'entypo-icon-email',
'entypo-icon-emoji-happy',
'entypo-icon-emoji-neutral',
'entypo-icon-emoji-sad',
'entypo-icon-erase',
'entypo-icon-eraser',
'entypo-icon-export',
'entypo-icon-eye',
'entypo-icon-feather',
'entypo-icon-flag',
'entypo-icon-flash',
'entypo-icon-flashlight',
'entypo-icon-flat-brush',
'entypo-icon-folder-images',
'entypo-icon-folder-music',
'entypo-icon-folder-video',
'entypo-icon-folder',
'entypo-icon-forward',
'entypo-icon-funnel',
'entypo-icon-game-controller',
'entypo-icon-gauge',
'entypo-icon-globe',
'entypo-icon-graduation-cap',
'entypo-icon-grid',
'entypo-icon-hair-cross',
'entypo-icon-hand',
'entypo-icon-heart-outlined',
'entypo-icon-heart',
'entypo-icon-help-with-circle',
'entypo-icon-help',
'entypo-icon-home',
'entypo-icon-hour-glass',
'entypo-icon-image-inverted',
'entypo-icon-image',
'entypo-icon-images',
'entypo-icon-inbox',
'entypo-icon-infinity',
'entypo-icon-info-with-circle',
'entypo-icon-info',
'entypo-icon-key',
'entypo-icon-keyboard',
'entypo-icon-lab-flask',
'entypo-icon-landline',
'entypo-icon-language',
'entypo-icon-laptop',
'entypo-icon-leaf',
'entypo-icon-level-down',
'entypo-icon-level-up',
'entypo-icon-lifebuoy',
'entypo-icon-light-bulb',
'entypo-icon-light-down',
'entypo-icon-light-up',
'entypo-icon-line-graph',
'entypo-icon-link',
'entypo-icon-list',
'entypo-icon-location-pin',
'entypo-icon-location',
'entypo-icon-lock-open',
'entypo-icon-lock',
'entypo-icon-log-out',
'entypo-icon-login',
'entypo-icon-loop',
'entypo-icon-magnet',
'entypo-icon-magnifying-glass',
'entypo-icon-mail',
'entypo-icon-man',
'entypo-icon-map',
'entypo-icon-mask',
'entypo-icon-medal',
'entypo-icon-megaphone',
'entypo-icon-menu',
'entypo-icon-message',
'entypo-icon-mic',
'entypo-icon-minus',
'entypo-icon-mobile',
'entypo-icon-modern-mic',
'entypo-icon-moon',
'entypo-icon-mouse',
'entypo-icon-music',
'entypo-icon-network',
'entypo-icon-new-message',
'entypo-icon-new',
'entypo-icon-news',
'entypo-icon-note',
'entypo-icon-notification',
'entypo-icon-old-mobile',
'entypo-icon-old-phone',
'entypo-icon-palette',
'entypo-icon-paper-plane',
'entypo-icon-pencil',
'entypo-icon-phone',
'entypo-icon-pie-chart',
'entypo-icon-pin',
'entypo-icon-plus',
'entypo-icon-popup',
'entypo-icon-power-plug',
'entypo-icon-price-ribbon',
'entypo-icon-price-tag',
'entypo-icon-print',
'entypo-icon-progress-empty',
'entypo-icon-progress-full',
'entypo-icon-progress-one',
'entypo-icon-progress-two',
'entypo-icon-publish',
'entypo-icon-quote',
'entypo-icon-radio',
'entypo-icon-reply-all',
'entypo-icon-reply',
'entypo-icon-retweet',
'entypo-icon-rocket',
'entypo-icon-round-brush',
'entypo-icon-rss',
'entypo-icon-ruler',
'entypo-icon-scissors',
'entypo-icon-share-alternitive',
'entypo-icon-share',
'entypo-icon-shareable',
'entypo-icon-shield',
'entypo-icon-shop',
'entypo-icon-shopping-bag',
'entypo-icon-shopping-basket',
'entypo-icon-shopping-cart',
'entypo-icon-shuffle',
'entypo-icon-signal',
'entypo-icon-sound-mix',
'entypo-icon-sports-club',
'entypo-icon-spreadsheet',
'entypo-icon-squared-cross',
'entypo-icon-squared-minus',
'entypo-icon-squared-plus',
'entypo-icon-star-outlined',
'entypo-icon-star',
'entypo-icon-stopwatch',
'entypo-icon-suitcase',
'entypo-icon-swap',
'entypo-icon-sweden',
'entypo-icon-switch',
'entypo-icon-tablet',
'entypo-icon-tag',
'entypo-icon-text-document-inverted',
'entypo-icon-text-document',
'entypo-icon-text',
'entypo-icon-thermometer',
'entypo-icon-thumbs-down',
'entypo-icon-thumbs-up',
'entypo-icon-thunder-cloud',
'entypo-icon-ticket',
'entypo-icon-time-slot',
'entypo-icon-tools',
'entypo-icon-traffic-cone',
'entypo-icon-tree',
'entypo-icon-trophy',
'entypo-icon-tv',
'entypo-icon-typing',
'entypo-icon-unread',
'entypo-icon-untag',
'entypo-icon-user',
'entypo-icon-users',
'entypo-icon-v-card',
'entypo-icon-video',
'entypo-icon-vinyl',
'entypo-icon-voicemail',
'entypo-icon-wallet',
'entypo-icon-water',
'entypo-icon-500px-with-circle',
'entypo-icon-500px',
'entypo-icon-basecamp',
'entypo-icon-behance',
'entypo-icon-creative-cloud',
'entypo-icon-dropbox',
'entypo-icon-evernote',
'entypo-icon-flattr',
'entypo-icon-foursquare',
'entypo-icon-google-drive',
'entypo-icon-google-hangouts',
'entypo-icon-grooveshark',
'entypo-icon-icloud',
'entypo-icon-mixi',
'entypo-icon-onedrive',
'entypo-icon-paypal',
'entypo-icon-picasa',
'entypo-icon-qq',
'entypo-icon-rdio-with-circle',
'entypo-icon-renren',
'entypo-icon-scribd',
'entypo-icon-sina-weibo',
'entypo-icon-skype-with-circle',
'entypo-icon-skype',
'entypo-icon-slideshare',
'entypo-icon-smashing',
'entypo-icon-soundcloud',
'entypo-icon-spotify-with-circle',
'entypo-icon-spotify',
'entypo-icon-swarm',
'entypo-icon-vine-with-circle',
'entypo-icon-vine',
'entypo-icon-vk-alternitive',
'entypo-icon-vk-with-circle',
'entypo-icon-vk',
'entypo-icon-xing-with-circle',
'entypo-icon-xing',
'entypo-icon-yelp',
'entypo-icon-dribbble-with-circle',
'entypo-icon-dribbble',
'entypo-icon-facebook-with-circle',
'entypo-icon-facebook',
'entypo-icon-flickr-with-circle',
'entypo-icon-flickr',
'entypo-icon-github-with-circle',
'entypo-icon-github',
'entypo-icon-google-with-circle',
'entypo-icon-google',
'entypo-icon-instagram-with-circle',
'entypo-icon-instagram',
'entypo-icon-lastfm-with-circle',
'entypo-icon-lastfm',
'entypo-icon-linkedin-with-circle',
'entypo-icon-linkedin',
'entypo-icon-pinterest-with-circle',
'entypo-icon-pinterest',
'entypo-icon-rdio',
'entypo-icon-stumbleupon-with-circle',
'entypo-icon-stumbleupon',
'entypo-icon-tumblr-with-circle',
'entypo-icon-tumblr',
'entypo-icon-twitter-with-circle',
'entypo-icon-twitter',
'entypo-icon-vimeo-with-circle',
'entypo-icon-vimeo',
'entypo-icon-youtube-with-circle',
'entypo-icon-youtube']]

include ../_partials/_template.slim