- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/feather/style.css']
- template_vars = ['element_header' => 'Feather Icons', 'element_desc' => 'Simply beautiful open source icons, for more info <a href="https://feathericons.com/">click here</a>',
                   'icons' => [ 'icon-feather-activity',
'icon-feather-airplay',
'icon-feather-alert-circle',
'icon-feather-alert-octagon',
'icon-feather-alert-triangle',
'icon-feather-align-center',
'icon-feather-align-justify',
'icon-feather-align-left',
'icon-feather-align-right',
'icon-feather-anchor',
'icon-feather-aperture',
'icon-feather-arrow-down',
'icon-feather-arrow-down-circle',
'icon-feather-arrow-down-left',
'icon-feather-arrow-down-right',
'icon-feather-arrow-left',
'icon-feather-arrow-left-circle',
'icon-feather-arrow-right',
'icon-feather-arrow-right-circle',
'icon-feather-arrow-up',
'icon-feather-arrow-up-circle',
'icon-feather-arrow-up-left',
'icon-feather-arrow-up-right',
'icon-feather-at-sign',
'icon-feather-award',
'icon-feather-bar-chart',
'icon-feather-bar-chart-2',
'icon-feather-battery',
'icon-feather-battery-charging',
'icon-feather-bell',
'icon-feather-bell-off',
'icon-feather-bluetooth',
'icon-feather-bold',
'icon-feather-book',
'icon-feather-book-open',
'icon-feather-bookmark',
'icon-feather-box',
'icon-feather-briefcase',
'icon-feather-calendar',
'icon-feather-camera',
'icon-feather-camera-off',
'icon-feather-cast',
'icon-feather-check',
'icon-feather-check-circle',
'icon-feather-check-square',
'icon-feather-chevron-down',
'icon-feather-chevron-left',
'icon-feather-chevron-right',
'icon-feather-chevron-up',
'icon-feather-chevrons-down',
'icon-feather-chevrons-left',
'icon-feather-chevrons-right',
'icon-feather-chevrons-up',
'icon-feather-chrome',
'icon-feather-circle',
'icon-feather-clipboard',
'icon-feather-clock',
'icon-feather-cloud',
'icon-feather-cloud-drizzle',
'icon-feather-cloud-lightning',
'icon-feather-cloud-off',
'icon-feather-cloud-rain',
'icon-feather-cloud-snow',
'icon-feather-code',
'icon-feather-codepen',
'icon-feather-command',
'icon-feather-compass',
'icon-feather-copy',
'icon-feather-corner-down-left',
'icon-feather-corner-down-right',
'icon-feather-corner-left-down',
'icon-feather-corner-left-up',
'icon-feather-corner-right-down',
'icon-feather-corner-right-up',
'icon-feather-corner-up-left',
'icon-feather-corner-up-right',
'icon-feather-cpu',
'icon-feather-credit-card',
'icon-feather-crop',
'icon-feather-crosshair',
'icon-feather-database',
'icon-feather-delete',
'icon-feather-disc',
'icon-feather-dollar-sign',
'icon-feather-download',
'icon-feather-download-cloud',
'icon-feather-droplet',
'icon-feather-edit',
'icon-feather-edit-2',
'icon-feather-edit-3',
'icon-feather-external-link',
'icon-feather-eye',
'icon-feather-eye-off',
'icon-feather-facebook',
'icon-feather-fast-forward',
'icon-feather-feather',
'icon-feather-file',
'icon-feather-file-minus',
'icon-feather-file-plus',
'icon-feather-file-text',
'icon-feather-film',
'icon-feather-filter',
'icon-feather-flag',
'icon-feather-folder',
'icon-feather-folder-minus',
'icon-feather-folder-plus',
'icon-feather-git-branch',
'icon-feather-git-commit',
'icon-feather-git-merge',
'icon-feather-git-pull-request',
'icon-feather-github',
'icon-feather-gitlab',
'icon-feather-globe',
'icon-feather-grid',
'icon-feather-hard-drive',
'icon-feather-hash',
'icon-feather-headphones',
'icon-feather-heart',
'icon-feather-help-circle',
'icon-feather-home',
'icon-feather-image',
'icon-feather-inbox',
'icon-feather-info',
'icon-feather-instagram',
'icon-feather-italic',
'icon-feather-layers',
'icon-feather-layout',
'icon-feather-life-buoy',
'icon-feather-link',
'icon-feather-link-2',
'icon-feather-linkedin',
'icon-feather-list',
'icon-feather-loader',
'icon-feather-lock',
'icon-feather-log-in',
'icon-feather-log-out',
'icon-feather-mail',
'icon-feather-map',
'icon-feather-map-pin',
'icon-feather-maximize',
'icon-feather-maximize-2',
'icon-feather-menu',
'icon-feather-message-circle',
'icon-feather-message-square',
'icon-feather-mic',
'icon-feather-mic-off',
'icon-feather-minimize',
'icon-feather-minimize-2',
'icon-feather-minus',
'icon-feather-minus-circle',
'icon-feather-minus-square',
'icon-feather-monitor',
'icon-feather-moon',
'icon-feather-more-horizontal',
'icon-feather-more-vertical',
'icon-feather-move',
'icon-feather-music',
'icon-feather-navigation',
'icon-feather-navigation-2',
'icon-feather-octagon',
'icon-feather-package',
'icon-feather-paperclip',
'icon-feather-pause',
'icon-feather-pause-circle',
'icon-feather-percent',
'icon-feather-phone',
'icon-feather-phone-call',
'icon-feather-phone-forwarded',
'icon-feather-phone-incoming',
'icon-feather-phone-missed',
'icon-feather-phone-off',
'icon-feather-phone-outgoing',
'icon-feather-pie-chart',
'icon-feather-play',
'icon-feather-play-circle',
'icon-feather-plus',
'icon-feather-plus-circle',
'icon-feather-plus-square',
'icon-feather-pocket',
'icon-feather-power',
'icon-feather-printer',
'icon-feather-radio',
'icon-feather-refresh-ccw',
'icon-feather-refresh-cw',
'icon-feather-repeat',
'icon-feather-rewind',
'icon-feather-rotate-ccw',
'icon-feather-rotate-cw',
'icon-feather-rss',
'icon-feather-save',
'icon-feather-scissors',
'icon-feather-search',
'icon-feather-send',
'icon-feather-server',
'icon-feather-settings',
'icon-feather-share',
'icon-feather-share-2',
'icon-feather-shield',
'icon-feather-shield-off',
'icon-feather-shopping-bag',
'icon-feather-shopping-cart',
'icon-feather-shuffle',
'icon-feather-sidebar',
'icon-feather-skip-back',
'icon-feather-skip-forward',
'icon-feather-slack',
'icon-feather-slash',
'icon-feather-sliders',
'icon-feather-smartphone',
'icon-feather-speaker',
'icon-feather-square',
'icon-feather-star',
'icon-feather-stop-circle',
'icon-feather-sun',
'icon-feather-sunrise',
'icon-feather-sunset',
'icon-feather-tablet',
'icon-feather-tag',
'icon-feather-target',
'icon-feather-terminal',
'icon-feather-thermometer',
'icon-feather-thumbs-down',
'icon-feather-thumbs-up',
'icon-feather-toggle-left',
'icon-feather-toggle-right',
'icon-feather-trash',
'icon-feather-trash-2',
'icon-feather-trending-down',
'icon-feather-trending-up',
'icon-feather-triangle',
'icon-feather-truck',
'icon-feather-tv',
'icon-feather-twitter',
'icon-feather-type',
'icon-feather-umbrella',
'icon-feather-underline',
'icon-feather-unlock',
'icon-feather-upload',
'icon-feather-upload-cloud',
'icon-feather-user',
'icon-feather-user-check',
'icon-feather-user-minus',
'icon-feather-user-plus',
'icon-feather-user-x',
'icon-feather-users',
'icon-feather-video',
'icon-feather-video-off',
'icon-feather-voicemail',
'icon-feather-volume',
'icon-feather-volume-1',
'icon-feather-volume-2',
'icon-feather-volume-x',
'icon-feather-watch',
'icon-feather-wifi',
'icon-feather-wifi-off',
'icon-feather-wind',
'icon-feather-x',
'icon-feather-x-circle',
'icon-feather-x-square',
'icon-feather-zap',
'icon-feather-zap-off',
'icon-feather-zoom-in',
'icon-feather-zoom-out']]

include ../_partials/_template.slim