- content_box_file = '../icon_fonts/_content_ligature_symbols.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/ligature-symbols/style.css']
- template_vars = ['element_header' => 'Ligature Symbols', 'element_desc' => 'Powered by Ligature Symbols set, for more info <a href="http://kudakurage.com/ligature_symbols/">click here</a>']

include ../_partials/_template.slim