- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- template_vars = ['element_header' => 'Icons used in demo', 'element_desc' => 'These icons are used in a demo.',
                   'icons' => ['os-icon os-icon-search',
'os-icon os-icon-arrow-right',
'os-icon os-icon-arrow-right2',
'os-icon os-icon-arrow-right3',
'os-icon os-icon-arrow-right4',
'os-icon os-icon-arrow-right5',
'os-icon os-icon-arrow-left',
'os-icon os-icon-arrow-left2',
'os-icon os-icon-arrow-left3',
'os-icon os-icon-arrow-left4',
'os-icon os-icon-arrow-up',
'os-icon os-icon-arrow-down',
'os-icon os-icon-arrow-left5',
'os-icon os-icon-arrow-down2',
'os-icon os-icon-arrow-down3',
'os-icon os-icon-arrow-down4',
'os-icon os-icon-arrow-up2',
'os-icon os-icon-arrow-up3',
'os-icon os-icon-arrow-down5',
'os-icon os-icon-arrow-up4',
'os-icon os-icon-arrow-up5',
'os-icon os-icon-ui-55',
'os-icon os-icon-mail-19',
'os-icon os-icon-mail-18',
'os-icon os-icon-grid-18',
'os-icon os-icon-ui-02',
'os-icon os-icon-ui-37',
'os-icon os-icon-common-07',
'os-icon os-icon-ui-54',
'os-icon os-icon-ui-44',
'os-icon os-icon-ui-15',
'os-icon os-icon-documents-03',
'os-icon os-icon-ui-92',
'os-icon os-icon-phone-21',
'os-icon os-icon-documents-07',
'os-icon os-icon-others-29',
'os-icon os-icon-ui-65',
'os-icon os-icon-ui-51',
'os-icon os-icon-mail-07',
'os-icon os-icon-mail-01',
'os-icon os-icon-others-43',
'os-icon os-icon-signs-11',
'os-icon os-icon-coins-4',
'os-icon os-icon-user-male-circle2',
'os-icon os-icon-emoticon-smile',
'os-icon os-icon-robot-2',
'os-icon os-icon-robot-1',
'os-icon os-icon-crown',
'os-icon os-icon-cancel-circle',
'os-icon os-icon-cancel-square',
'os-icon os-icon-close',
'os-icon os-icon-grid-circles',
'os-icon os-icon-grid-squares-22',
'os-icon os-icon-grid-squares2',
'os-icon os-icon-tasks-checked',
'os-icon os-icon-hierarchy-structure-2',
'os-icon os-icon-agenda-1',
'os-icon os-icon-cv-2',
'os-icon os-icon-grid-squares-2',
'os-icon os-icon-grid-squares',
'os-icon os-icon-calendar-time',
'os-icon os-icon-twitter',
'os-icon os-icon-facebook',
'os-icon os-icon-pie-chart-2',
'os-icon os-icon-pie-chart-1',
'os-icon os-icon-pie-chart-3',
'os-icon os-icon-donut-chart-1',
'os-icon os-icon-bar-chart-up',
'os-icon os-icon-bar-chart-stats-up',
'os-icon os-icon-hamburger-menu-2',
'os-icon os-icon-hamburger-menu-1',
'os-icon os-icon-email-2-at',
'os-icon os-icon-email-2-at2',
'os-icon os-icon-fingerprint',
'os-icon os-icon-basic-2-259-calendar',
'os-icon os-icon-arrow-2-up',
'os-icon os-icon-arrow-2-down',
'os-icon os-icon-bar-chart-down',
'os-icon os-icon-graph-down',
'os-icon os-icon-pencil-1',
'os-icon os-icon-edit-3',
'os-icon os-icon-edit-1',
'os-icon os-icon-database-remove',
'os-icon os-icon-pencil-2',
'os-icon os-icon-link-3',
'os-icon os-icon-email-forward',
'os-icon os-icon-delivery-box-2',
'os-icon os-icon-wallet-loaded',
'os-icon os-icon-newspaper',
'os-icon os-icon-window-content',
'os-icon os-icon-donut-chart-2',
'os-icon os-icon-text-input',
'os-icon os-icon-user-male-circle']]

include ../_partials/_template.slim