- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/metrize-icons/style.css']
- template_vars = ['element_header' => 'Metrize Icons', 'element_desc' => 'Powered by Metrize Icons set, for more info <a href="http://www.alessioatzeni.com/metrize-icons/">click here</a>',
                   'icons' => [ 'icon-yen',
'icon-world',
'icon-wireframe-globe',
'icon-wind',
'icon-wifi',
'icon-waves',
'icon-viewport',
'icon-viewport-video',
'icon-user',
'icon-user-remove',
'icon-user-ban',
'icon-user-add',
'icon-upload',
'icon-upload-selection',
'icon-upload-selection-circle',
'icon-underline',
'icon-triple-points',
'icon-top-bottom',
'icon-three-points',
'icon-three-points-top',
'icon-three-points-bottom',
'icon-text-width',
'icon-text-size-upper',
'icon-text-size-reduce',
'icon-text-paragraph',
'icon-text-normal',
'icon-text-justify-right',
'icon-text-justify-left',
'icon-text-justify-center',
'icon-text-height',
'icon-text-center',
'icon-text-bold',
'icon-text-align-right',
'icon-text-align-left',
'icon-telephone',
'icon-sunshine',
'icon-sun',
'icon-stop',
'icon-star',
'icon-speed',
'icon-sound-on',
'icon-sound-off',
'icon-sos',
'icon-social-zerply',
'icon-social-youtube',
'icon-social-yelp',
'icon-social-yahoo',
'icon-social-wordpress',
'icon-social-virb',
'icon-social-vimeo',
'icon-social-viddler',
'icon-social-twitter',
'icon-social-tumblr',
'icon-social-stumbleupon',
'icon-social-soundcloud',
'icon-social-skype',
'icon-social-sharethis',
'icon-social-quora',
'icon-social-pinterest',
'icon-social-photobucket',
'icon-social-paypal',
'icon-social-myspace',
'icon-social-linkedin',
'icon-social-last-fm',
'icon-social-grooveshark',
'icon-social-google-plus',
'icon-social-github',
'icon-social-forrst',
'icon-social-flickr',
'icon-social-facebook',
'icon-social-evernote',
'icon-social-envato',
'icon-social-email',
'icon-social-dribbble',
'icon-social-digg',
'icon-social-deviantart',
'icon-social-blogger',
'icon-social-behance',
'icon-social-bebo',
'icon-social-addthis',
'icon-social-500px',
'icon-snow',
'icon-sliders',
'icon-sliders-vertical',
'icon-sign-male',
'icon-sign-female',
'icon-shield',
'icon-settings',
'icon-setting',
'icon-select-square',
'icon-select-circle',
'icon-search',
'icon-scale',
'icon-rules',
'icon-rss',
'icon-retweet',
'icon-report-comment',
'icon-refresh',
'icon-rec',
'icon-random',
'icon-quote',
'icon-question',
'icon-previous-fast-step',
'icon-prev-step',
'icon-pounds',
'icon-podcast',
'icon-plus',
'icon-play',
'icon-pin',
'icon-pin-map',
'icon-pig-money',
'icon-pause',
'icon-paperclip',
'icon-paperclip-oblique',
'icon-options-settings',
'icon-officine',
'icon-officine-2',
'icon-off',
'icon-number-zero',
'icon-number-two',
'icon-number-three',
'icon-number-six',
'icon-number-seven',
'icon-number-one',
'icon-number-nine',
'icon-number-four',
'icon-number-five',
'icon-number-eight',
'icon-next-step',
'icon-next-fast-step',
'icon-music',
'icon-multi-borders',
'icon-minus',
'icon-marker',
'icon-marker-points',
'icon-marker-minus',
'icon-marker-add',
'icon-map',
'icon-male-symbol',
'icon-mailbox',
'icon-mail',
'icon-magnet',
'icon-magic-wand',
'icon-login-lock-refresh',
'icon-locked',
'icon-location',
'icon-location-maps',
'icon-list-square',
'icon-list-circle',
'icon-link-url',
'icon-line-through',
'icon-limit-directions',
'icon-like-upload',
'icon-like-remove',
'icon-like-download',
'icon-like-close',
'icon-like-ban',
'icon-like-add',
'icon-left-right',
'icon-leaf',
'icon-layers',
'icon-landscape',
'icon-key',
'icon-italic',
'icon-info',
'icon-idea',
'icon-home-wifi',
'icon-heart',
'icon-hdd',
'icon-hdd-raid',
'icon-hdd-net',
'icon-grids',
'icon-grid-big',
'icon-graphs',
'icon-forward',
'icon-fire',
'icon-female-symbol',
'icon-eye',
'icon-eye-disabled',
'icon-expand',
'icon-expand-vertical',
'icon-expand-horizontal',
'icon-expand-directions',
'icon-exclamation',
'icon-euro',
'icon-email-upload',
'icon-email-spam',
'icon-email-remove',
'icon-email-luminosity',
'icon-email-download',
'icon-email-close',
'icon-email-add',
'icon-eject',
'icon-drops',
'icon-drop',
'icon-download',
'icon-download-selection',
'icon-download-selection-circle',
'icon-double-diamonds',
'icon-dot-square',
'icon-dot-line',
'icon-dot-circle',
'icon-dollar',
'icon-documents',
'icon-document',
'icon-document-fill',
'icon-directions',
'icon-cross',
'icon-credit-card',
'icon-copy-paste-document',
'icon-copy-document',
'icon-contract-vertical',
'icon-contract-horizontal',
'icon-contract-directions',
'icon-compass',
'icon-compass-2',
'icon-comments',
'icon-comment',
'icon-coins',
'icon-cloud',
'icon-cloud-upload',
'icon-cloud-remove',
'icon-cloud-download',
'icon-cloud-add',
'icon-clock',
'icon-circles',
'icon-check',
'icon-chat',
'icon-chart-down',
'icon-cd-dvd-rom',
'icon-camera',
'icon-button-question',
'icon-button-minus',
'icon-button-exclamation',
'icon-button-email',
'icon-button-close',
'icon-button-check',
'icon-button-add',
'icon-brush',
'icon-browser-sizes',
'icon-box-remove',
'icon-box-close',
'icon-box-blank',
'icon-box-add',
'icon-bolt',
'icon-block-menu',
'icon-blank',
'icon-bezier',
'icon-bars',
'icon-ban-circle',
'icon-bag',
'icon-backward',
'icon-axis-rules',
'icon-atom',
'icon-arrow-up',
'icon-arrow-up-thin',
'icon-arrow-up-light',
'icon-arrow-up-bold',
'icon-arrow-up-bold-round',
'icon-arrow-up-big',
'icon-arrow-right',
'icon-arrow-right-thin',
'icon-arrow-right-light',
'icon-arrow-right-bold',
'icon-arrow-right-bold-round',
'icon-arrow-right-big',
'icon-arrow-oblique-expand',
'icon-arrow-oblique-expand-directions',
'icon-arrow-oblique-contract',
'icon-arrow-oblique-contract-directions',
'icon-arrow-multi-line-up',
'icon-arrow-multi-line-right',
'icon-arrow-multi-line-left',
'icon-arrow-multi-line-down',
'icon-arrow-left',
'icon-arrow-left-thin',
'icon-arrow-left-light',
'icon-arrow-left-bold',
'icon-arrow-left-bold-round',
'icon-arrow-left-big',
'icon-arrow-fill-up',
'icon-arrow-fill-right',
'icon-arrow-fill-left',
'icon-arrow-fill-down',
'icon-arrow-down',
'icon-arrow-down-thin',
'icon-arrow-down-light',
'icon-arrow-down-bold',
'icon-arrow-down-bold-round',
'icon-arrow-down-big',
'icon-arrow-cycling',
'icon-arrow-cycle',
'icon-arrow-curve-right',
'icon-arrow-curve-recycle',
'icon-arrow-curve-left',
'icon-animal-footprint',
'icon-alarm-clock',
'icon-air-plane',
'icon-adjust',
'icon-cube']]

include ../_partials/_template.slim