- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/picons-social/style.css']
- template_vars = ['element_header' => 'Picons Social', 'element_desc' => 'Powered by Picons Social set, for more info <a href="https://picons.me/download-social.php">click here</a>',
                   'icons' => [ 'picons-social-icon-forrst',
'picons-social-icon-dribbble',
'picons-social-icon-twitter',
'picons-social-icon-flickr',
'picons-social-icon-twitter2',
'picons-social-icon-facebook',
'picons-social-icon-skype',
'picons-social-icon-digg',
'picons-social-icon-google',
'picons-social-icon-html5',
'picons-social-icon-linkedin',
'picons-social-icon-lastfm',
'picons-social-icon-vimeo',
'picons-social-icon-yahoo',
'picons-social-icon-tumblr',
'picons-social-icon-apple',
'picons-social-icon-windows',
'picons-social-icon-youtube',
'picons-social-icon-delicious',
'picons-social-icon-rss',
'picons-social-icon-picasa',
'picons-social-icon-deviantart',
'picons-social-icon-whatsapp',
'picons-social-icon-snapchat',
'picons-social-icon-blogger',
'picons-social-icon-wordpress',
'picons-social-icon-amazon',
'picons-social-icon-appstore',
'picons-social-icon-paypal',
'picons-social-icon-myspace',
'picons-social-icon-dropbox',
'picons-social-icon-windows8',
'picons-social-icon-pinterest',
'picons-social-icon-soundcloud',
'picons-social-icon-google-drive',
'picons-social-icon-android',
'picons-social-icon-behance',
'picons-social-icon-instagram',
'picons-social-icon-ebay',
'picons-social-icon-google-plus',
'picons-social-icon-github',
'picons-social-icon-stackoverflow',
'picons-social-icon-spotify',
'picons-social-icon-stumbleupon',
'picons-social-icon-visa',
'picons-social-icon-mastercard',
'picons-social-icon-amex',
'picons-social-icon-ios',
'picons-social-icon-osx',
'picons-social-icon-evernote',
'picons-social-icon-yelp',
'picons-social-icon-yelp2',
'picons-social-icon-medium',
'picons-social-icon-slack',
'picons-social-icon-vine',
'picons-social-icon-edge',
'picons-social-icon-outlook',
'picons-social-icon-pencilcase',
'picons-social-icon-play',
'picons-social-icon-icloud',
'picons-social-icon-google-inbox',
'picons-social-icon-periscope',
'picons-social-icon-blackberry',
'picons-social-icon-viber',
'picons-social-icon-fb_messenger',
'picons-social-icon-wechat',
'picons-social-icon-gmail',
'picons-social-icon-airbnb',
'picons-social-icon-angellist',
'picons-social-icon-uber',
'picons-social-icon-safari',
'picons-social-icon-firefox',
'picons-social-icon-opera',
'picons-social-icon-bing',
'picons-social-icon-reddit',
'picons-social-icon-producthunt',
'picons-social-icon-forrst2',
'picons-social-icon-dribbble2',
'picons-social-icon-twitter3',
'picons-social-icon-flickr2',
'picons-social-icon-twitter4',
'picons-social-icon-facebook2',
'picons-social-icon-skype2',
'picons-social-icon-digg2',
'picons-social-icon-google2',
'picons-social-icon-html52',
'picons-social-icon-linkedin2',
'picons-social-icon-lastfm2',
'picons-social-icon-vimeo2',
'picons-social-icon-yahoo2',
'picons-social-icon-tumblr2',
'picons-social-icon-apple2',
'picons-social-icon-windows2',
'picons-social-icon-youtube2',
'picons-social-icon-delicious2',
'picons-social-icon-rss2',
'picons-social-icon-picasa2',
'picons-social-icon-deviantart2',
'picons-social-icon-whatsapp2',
'picons-social-icon-snapchat2',
'picons-social-icon-blogger2',
'picons-social-icon-wordpress2',
'picons-social-icon-amazon2',
'picons-social-icon-appstore2',
'picons-social-icon-paypal2',
'picons-social-icon-myspace2',
'picons-social-icon-dropbox2',
'picons-social-icon-windows82',
'picons-social-icon-pinterest2',
'picons-social-icon-soundcloud2',
'picons-social-icon-google-drive2',
'picons-social-icon-android2',
'picons-social-icon-behance2',
'picons-social-icon-instagram2',
'picons-social-icon-ebay2',
'picons-social-icon-google-plus2',
'picons-social-icon-github2',
'picons-social-icon-stackoverflow2',
'picons-social-icon-spotify2',
'picons-social-icon-stumbleupon2',
'picons-social-icon-visa2',
'picons-social-icon-mastercard2',
'picons-social-icon-amex2',
'picons-social-icon-ios2',
'picons-social-icon-osx2',
'picons-social-icon-evernote2',
'picons-social-icon-yelp3',
'picons-social-icon-yelp4',
'picons-social-icon-medium2',
'picons-social-icon-slack2',
'picons-social-icon-vine2',
'picons-social-icon-edge2',
'picons-social-icon-outlook2',
'picons-social-icon-pencilcase2',
'picons-social-icon-play2',
'picons-social-icon-icloud2',
'picons-social-icon-google-inbox2',
'picons-social-icon-periscope2',
'picons-social-icon-blackberry2',
'picons-social-icon-viber2',
'picons-social-icon-fb_messenger2',
'picons-social-icon-wechat2',
'picons-social-icon-gmail2',
'picons-social-icon-airbnb2',
'picons-social-icon-angellist2',
'picons-social-icon-uber2',
'picons-social-icon-safari2',
'picons-social-icon-firefox2',
'picons-social-icon-opera2',
'picons-social-icon-bing2',
'picons-social-icon-reddit2',
'picons-social-icon-producthunt2']]

include ../_partials/_template.slim