- content_box_file = '../icon_fonts/_list.slim'
- menu_file = '../_partials/menus/_menu_side.slim'
- extra_css_files = ['icon_fonts_assets/weather-icons/css/weather-icons.min.css']
- template_vars = ['element_header' => 'Weather Icons', 'element_desc' => 'Powered by Weather Icons set, for more info <a href="https://github.com/erikflowers/weather-icons">click here</a>',
                   'icons' => [ 'wi wi-day-sunny',
'wi wi-day-cloudy',
'wi wi-day-cloudy-gusts',
'wi wi-day-cloudy-windy',
'wi wi-day-fog',
'wi wi-day-hail',
'wi wi-day-haze',
'wi wi-day-lightning',
'wi wi-day-rain',
'wi wi-day-rain-mix',
'wi wi-day-rain-wind',
'wi wi-day-showers',
'wi wi-day-sleet',
'wi wi-day-sleet-storm',
'wi wi-day-snow',
'wi wi-day-snow-thunderstorm',
'wi wi-day-snow-wind',
'wi wi-day-sprinkle',
'wi wi-day-storm-showers',
'wi wi-day-sunny-overcast',
'wi wi-day-thunderstorm',
'wi wi-day-windy',
'wi wi-solar-eclipse',
'wi wi-hot',
'wi wi-day-cloudy-high',
'wi wi-day-light-wind',
'wi wi-night-clear',
'wi wi-night-alt-cloudy',
'wi wi-night-alt-cloudy-gusts',
'wi wi-night-alt-cloudy-windy',
'wi wi-night-alt-hail',
'wi wi-night-alt-lightning',
'wi wi-night-alt-rain',
'wi wi-night-alt-rain-mix',
'wi wi-night-alt-rain-wind',
'wi wi-night-alt-showers',
'wi wi-night-alt-sleet',
'wi wi-night-alt-sleet-storm',
'wi wi-night-alt-snow',
'wi wi-night-alt-snow-thunderstorm',
'wi wi-night-alt-snow-wind',
'wi wi-night-alt-sprinkle',
'wi wi-night-alt-storm-showers',
'wi wi-night-alt-thunderstorm',
'wi wi-night-cloudy',
'wi wi-night-cloudy-gusts',
'wi wi-night-cloudy-windy',
'wi wi-night-fog',
'wi wi-night-hail',
'wi wi-night-lightning',
'wi wi-night-partly-cloudy',
'wi wi-night-rain',
'wi wi-night-rain-mix',
'wi wi-night-rain-wind',
'wi wi-night-showers',
'wi wi-night-sleet',
'wi wi-night-sleet-storm',
'wi wi-night-snow',
'wi wi-night-snow-thunderstorm',
'wi wi-night-snow-wind',
'wi wi-night-sprinkle',
'wi wi-night-storm-showers',
'wi wi-night-thunderstorm',
'wi wi-lunar-eclipse',
'wi wi-stars',
'wi wi-storm-showers',
'wi wi-thunderstorm',
'wi wi-night-alt-cloudy-high',
'wi wi-night-cloudy-high',
'wi wi-night-alt-partly-cloudy',
'wi wi-cloud',
'wi wi-cloudy',
'wi wi-cloudy-gusts',
'wi wi-cloudy-windy',
'wi wi-fog',
'wi wi-hail',
'wi wi-rain',
'wi wi-rain-mix',
'wi wi-rain-wind',
'wi wi-showers',
'wi wi-sleet',
'wi wi-snow',
'wi wi-sprinkle',
'wi wi-storm-showers',
'wi wi-thunderstorm',
'wi wi-snow-wind',
'wi wi-snow',
'wi wi-smog',
'wi wi-smoke',
'wi wi-lightning',
'wi wi-raindrops',
'wi wi-raindrop',
'wi wi-dust',
'wi wi-snowflake-cold',
'wi wi-windy',
'wi wi-strong-wind',
'wi wi-sandstorm',
'wi wi-earthquake',
'wi wi-fire',
'wi wi-flood',
'wi wi-meteor',
'wi wi-tsunami',
'wi wi-volcano',
'wi wi-hurricane',
'wi wi-tornado',
'wi wi-small-craft-advisory',
'wi wi-gale-warning',
'wi wi-storm-warning',
'wi wi-hurricane-warning',
'wi wi-wind-direction',
'wi wi-alien',
'wi wi-celsius',
'wi wi-fahrenheit',
'wi wi-degrees',
'wi wi-thermometer',
'wi wi-thermometer-exterior',
'wi wi-thermometer-internal',
'wi wi-cloud-down',
'wi wi-cloud-up',
'wi wi-cloud-refresh',
'wi wi-horizon',
'wi wi-horizon-alt',
'wi wi-sunrise',
'wi wi-sunset',
'wi wi-moonrise',
'wi wi-moonset',
'wi wi-refresh',
'wi wi-refresh-alt',
'wi wi-umbrella',
'wi wi-barometer',
'wi wi-humidity',
'wi wi-na',
'wi wi-train',
'wi wi-moon-new',
'wi wi-moon-waxing-crescent-1',
'wi wi-moon-waxing-crescent-2',
'wi wi-moon-waxing-crescent-3',
'wi wi-moon-waxing-crescent-4',
'wi wi-moon-waxing-crescent-5',
'wi wi-moon-waxing-crescent-6',
'wi wi-moon-first-quarter',
'wi wi-moon-waxing-gibbous-1',
'wi wi-moon-waxing-gibbous-2',
'wi wi-moon-waxing-gibbous-3',
'wi wi-moon-waxing-gibbous-4',
'wi wi-moon-waxing-gibbous-5',
'wi wi-moon-waxing-gibbous-6',
'wi wi-moon-full',
'wi wi-moon-waning-gibbous-1',
'wi wi-moon-waning-gibbous-2',
'wi wi-moon-waning-gibbous-3',
'wi wi-moon-waning-gibbous-4',
'wi wi-moon-waning-gibbous-5',
'wi wi-moon-waning-gibbous-6',
'wi wi-moon-third-quarter',
'wi wi-moon-waning-crescent-1',
'wi wi-moon-waning-crescent-2',
'wi wi-moon-waning-crescent-3',
'wi wi-moon-waning-crescent-4',
'wi wi-moon-waning-crescent-5',
'wi wi-moon-waning-crescent-6',
'wi wi-moon-alt-new',
'wi wi-moon-alt-waxing-crescent-1',
'wi wi-moon-alt-waxing-crescent-2',
'wi wi-moon-alt-waxing-crescent-3',
'wi wi-moon-alt-waxing-crescent-4',
'wi wi-moon-alt-waxing-crescent-5',
'wi wi-moon-alt-waxing-crescent-6',
'wi wi-moon-alt-first-quarter',
'wi wi-moon-alt-waxing-gibbous-1',
'wi wi-moon-alt-waxing-gibbous-2',
'wi wi-moon-alt-waxing-gibbous-3',
'wi wi-moon-alt-waxing-gibbous-4',
'wi wi-moon-alt-waxing-gibbous-5',
'wi wi-moon-alt-waxing-gibbous-6',
'wi wi-moon-alt-full',
'wi wi-moon-alt-waning-gibbous-1',
'wi wi-moon-alt-waning-gibbous-2',
'wi wi-moon-alt-waning-gibbous-3',
'wi wi-moon-alt-waning-gibbous-4',
'wi wi-moon-alt-waning-gibbous-5',
'wi wi-moon-alt-waning-gibbous-6',
'wi wi-moon-alt-third-quarter',
'wi wi-moon-alt-waning-crescent-1',
'wi wi-moon-alt-waning-crescent-2',
'wi wi-moon-alt-waning-crescent-3',
'wi wi-moon-alt-waning-crescent-4',
'wi wi-moon-alt-waning-crescent-5',
'wi wi-moon-alt-waning-crescent-6',
'wi wi-moon-0',
'wi wi-moon-1',
'wi wi-moon-2',
'wi wi-moon-3',
'wi wi-moon-4',
'wi wi-moon-5',
'wi wi-moon-6',
'wi wi-moon-7',
'wi wi-moon-8',
'wi wi-moon-9',
'wi wi-moon-10',
'wi wi-moon-11',
'wi wi-moon-12',
'wi wi-moon-13',
'wi wi-moon-14',
'wi wi-moon-15',
'wi wi-moon-16',
'wi wi-moon-17',
'wi wi-moon-18',
'wi wi-moon-19',
'wi wi-moon-20',
'wi wi-moon-21',
'wi wi-moon-22',
'wi wi-moon-23',
'wi wi-moon-24',
'wi wi-moon-25',
'wi wi-moon-26',
'wi wi-moon-27',
'wi wi-time-1',
'wi wi-time-2',
'wi wi-time-3',
'wi wi-time-4',
'wi wi-time-5',
'wi wi-time-6',
'wi wi-time-7',
'wi wi-time-8',
'wi wi-time-9',
'wi wi-time-10',
'wi wi-time-11',
'wi wi-time-12',
'wi wi-direction-up',
'wi wi-direction-up-right',
'wi wi-direction-right',
'wi wi-direction-down-right',
'wi wi-direction-down',
'wi wi-direction-down-left',
'wi wi-direction-left',
'wi wi-direction-up-left',
'wi wi-wind-beaufort-0',
'wi wi-wind-beaufort-1',
'wi wi-wind-beaufort-2',
'wi wi-wind-beaufort-3',
'wi wi-wind-beaufort-4',
'wi wi-wind-beaufort-5',
'wi wi-wind-beaufort-6',
'wi wi-wind-beaufort-7',
'wi wi-wind-beaufort-8',
'wi wi-wind-beaufort-9',
'wi wi-wind-beaufort-10',
'wi wi-wind-beaufort-11',
'wi wi-wind-beaufort-12',
'wi wi-yahoo-0',
'wi wi-yahoo-1',
'wi wi-yahoo-2',
'wi wi-yahoo-3',
'wi wi-yahoo-4',
'wi wi-yahoo-5',
'wi wi-yahoo-6',
'wi wi-yahoo-7',
'wi wi-yahoo-8',
'wi wi-yahoo-9',
'wi wi-yahoo-10',
'wi wi-yahoo-11',
'wi wi-yahoo-12',
'wi wi-yahoo-13',
'wi wi-yahoo-14',
'wi wi-yahoo-15',
'wi wi-yahoo-16',
'wi wi-yahoo-17',
'wi wi-yahoo-18',
'wi wi-yahoo-19',
'wi wi-yahoo-20',
'wi wi-yahoo-21',
'wi wi-yahoo-22',
'wi wi-yahoo-23',
'wi wi-yahoo-24',
'wi wi-yahoo-25',
'wi wi-yahoo-26',
'wi wi-yahoo-27',
'wi wi-yahoo-28',
'wi wi-yahoo-29',
'wi wi-yahoo-30',
'wi wi-yahoo-31',
'wi wi-yahoo-32',
'wi wi-yahoo-33',
'wi wi-yahoo-34',
'wi wi-yahoo-35',
'wi wi-yahoo-36',
'wi wi-yahoo-37',
'wi wi-yahoo-38',
'wi wi-yahoo-39',
'wi wi-yahoo-40',
'wi wi-yahoo-41',
'wi wi-yahoo-42',
'wi wi-yahoo-43',
'wi wi-yahoo-44',
'wi wi-yahoo-45',
'wi wi-yahoo-46',
'wi wi-yahoo-47',
'wi wi-yahoo-3200',
'wi wi-forecast-io-clear-day',
'wi wi-forecast-io-clear-night',
'wi wi-forecast-io-rain',
'wi wi-forecast-io-snow',
'wi wi-forecast-io-sleet',
'wi wi-forecast-io-wind',
'wi wi-forecast-io-fog',
'wi wi-forecast-io-cloudy',
'wi wi-forecast-io-partly-cloudy-day',
'wi wi-forecast-io-partly-cloudy-night',
'wi wi-forecast-io-hail',
'wi wi-forecast-io-thunderstorm',
'wi wi-forecast-io-tornado',
'wi wi-wmo4680-0',
'wi wi-wmo4680-00',
'wi wi-wmo4680-1',
'wi wi-wmo4680-01',
'wi wi-wmo4680-2',
'wi wi-wmo4680-02',
'wi wi-wmo4680-3',
'wi wi-wmo4680-03',
'wi wi-wmo4680-4',
'wi wi-wmo4680-04',
'wi wi-wmo4680-5',
'wi wi-wmo4680-05',
'wi wi-wmo4680-10',
'wi wi-wmo4680-11',
'wi wi-wmo4680-12',
'wi wi-wmo4680-18',
'wi wi-wmo4680-20',
'wi wi-wmo4680-21',
'wi wi-wmo4680-22',
'wi wi-wmo4680-23',
'wi wi-wmo4680-24',
'wi wi-wmo4680-25',
'wi wi-wmo4680-26',
'wi wi-wmo4680-27',
'wi wi-wmo4680-28',
'wi wi-wmo4680-29',
'wi wi-wmo4680-30',
'wi wi-wmo4680-31',
'wi wi-wmo4680-32',
'wi wi-wmo4680-33',
'wi wi-wmo4680-34',
'wi wi-wmo4680-35',
'wi wi-wmo4680-40',
'wi wi-wmo4680-41',
'wi wi-wmo4680-42',
'wi wi-wmo4680-43',
'wi wi-wmo4680-44',
'wi wi-wmo4680-45',
'wi wi-wmo4680-46',
'wi wi-wmo4680-47',
'wi wi-wmo4680-48',
'wi wi-wmo4680-50',
'wi wi-wmo4680-51',
'wi wi-wmo4680-52',
'wi wi-wmo4680-53',
'wi wi-wmo4680-54',
'wi wi-wmo4680-55',
'wi wi-wmo4680-56',
'wi wi-wmo4680-57',
'wi wi-wmo4680-58',
'wi wi-wmo4680-60',
'wi wi-wmo4680-61',
'wi wi-wmo4680-62',
'wi wi-wmo4680-63',
'wi wi-wmo4680-64',
'wi wi-wmo4680-65',
'wi wi-wmo4680-66',
'wi wi-wmo4680-67',
'wi wi-wmo4680-68',
'wi wi-wmo4680-70',
'wi wi-wmo4680-71',
'wi wi-wmo4680-72',
'wi wi-wmo4680-73',
'wi wi-wmo4680-74',
'wi wi-wmo4680-75',
'wi wi-wmo4680-76',
'wi wi-wmo4680-77',
'wi wi-wmo4680-78',
'wi wi-wmo4680-80',
'wi wi-wmo4680-81',
'wi wi-wmo4680-82',
'wi wi-wmo4680-83',
'wi wi-wmo4680-84',
'wi wi-wmo4680-85',
'wi wi-wmo4680-86',
'wi wi-wmo4680-87',
'wi wi-wmo4680-89',
'wi wi-wmo4680-90',
'wi wi-wmo4680-91',
'wi wi-wmo4680-92',
'wi wi-wmo4680-93',
'wi wi-wmo4680-94',
'wi wi-wmo4680-95',
'wi wi-wmo4680-96',
'wi wi-wmo4680-99',
'wi wi-owm-200',
'wi wi-owm-201',
'wi wi-owm-202',
'wi wi-owm-210',
'wi wi-owm-211',
'wi wi-owm-212',
'wi wi-owm-221',
'wi wi-owm-230',
'wi wi-owm-231',
'wi wi-owm-232',
'wi wi-owm-300',
'wi wi-owm-301',
'wi wi-owm-302',
'wi wi-owm-310',
'wi wi-owm-311',
'wi wi-owm-312',
'wi wi-owm-313',
'wi wi-owm-314',
'wi wi-owm-321',
'wi wi-owm-500',
'wi wi-owm-501',
'wi wi-owm-502',
'wi wi-owm-503',
'wi wi-owm-504',
'wi wi-owm-511',
'wi wi-owm-520',
'wi wi-owm-521',
'wi wi-owm-522',
'wi wi-owm-531',
'wi wi-owm-600',
'wi wi-owm-601',
'wi wi-owm-602',
'wi wi-owm-611',
'wi wi-owm-612',
'wi wi-owm-615',
'wi wi-owm-616',
'wi wi-owm-620',
'wi wi-owm-621',
'wi wi-owm-622',
'wi wi-owm-701',
'wi wi-owm-711',
'wi wi-owm-721',
'wi wi-owm-731',
'wi wi-owm-741',
'wi wi-owm-761',
'wi wi-owm-762',
'wi wi-owm-771',
'wi wi-owm-781',
'wi wi-owm-800',
'wi wi-owm-801',
'wi wi-owm-802',
'wi wi-owm-803',
'wi wi-owm-804',
'wi wi-owm-900',
'wi wi-owm-901',
'wi wi-owm-902',
'wi wi-owm-903',
'wi wi-owm-904',
'wi wi-owm-905',
'wi wi-owm-906',
'wi wi-owm-957',
'wi wi-owm-day-200',
'wi wi-owm-day-201',
'wi wi-owm-day-202',
'wi wi-owm-day-210',
'wi wi-owm-day-211',
'wi wi-owm-day-212',
'wi wi-owm-day-221',
'wi wi-owm-day-230',
'wi wi-owm-day-231',
'wi wi-owm-day-232',
'wi wi-owm-day-300',
'wi wi-owm-day-301',
'wi wi-owm-day-302',
'wi wi-owm-day-310',
'wi wi-owm-day-311',
'wi wi-owm-day-312',
'wi wi-owm-day-313',
'wi wi-owm-day-314',
'wi wi-owm-day-321',
'wi wi-owm-day-500',
'wi wi-owm-day-501',
'wi wi-owm-day-502',
'wi wi-owm-day-503',
'wi wi-owm-day-504',
'wi wi-owm-day-511',
'wi wi-owm-day-520',
'wi wi-owm-day-521',
'wi wi-owm-day-522',
'wi wi-owm-day-531',
'wi wi-owm-day-600',
'wi wi-owm-day-601',
'wi wi-owm-day-602',
'wi wi-owm-day-611',
'wi wi-owm-day-612',
'wi wi-owm-day-615',
'wi wi-owm-day-616',
'wi wi-owm-day-620',
'wi wi-owm-day-621',
'wi wi-owm-day-622',
'wi wi-owm-day-701',
'wi wi-owm-day-711',
'wi wi-owm-day-721',
'wi wi-owm-day-731',
'wi wi-owm-day-741',
'wi wi-owm-day-761',
'wi wi-owm-day-762',
'wi wi-owm-day-781',
'wi wi-owm-day-800',
'wi wi-owm-day-801',
'wi wi-owm-day-802',
'wi wi-owm-day-803',
'wi wi-owm-day-804',
'wi wi-owm-day-900',
'wi wi-owm-day-902',
'wi wi-owm-day-903',
'wi wi-owm-day-904',
'wi wi-owm-day-906',
'wi wi-owm-day-957',
'wi wi-owm-night-200',
'wi wi-owm-night-201',
'wi wi-owm-night-202',
'wi wi-owm-night-210',
'wi wi-owm-night-211',
'wi wi-owm-night-212',
'wi wi-owm-night-221',
'wi wi-owm-night-230',
'wi wi-owm-night-231',
'wi wi-owm-night-232',
'wi wi-owm-night-300',
'wi wi-owm-night-301',
'wi wi-owm-night-302',
'wi wi-owm-night-310',
'wi wi-owm-night-311',
'wi wi-owm-night-312',
'wi wi-owm-night-313',
'wi wi-owm-night-314',
'wi wi-owm-night-321',
'wi wi-owm-night-500',
'wi wi-owm-night-501',
'wi wi-owm-night-502',
'wi wi-owm-night-503',
'wi wi-owm-night-504',
'wi wi-owm-night-511',
'wi wi-owm-night-520',
'wi wi-owm-night-521',
'wi wi-owm-night-522',
'wi wi-owm-night-531',
'wi wi-owm-night-600',
'wi wi-owm-night-601',
'wi wi-owm-night-602',
'wi wi-owm-night-611',
'wi wi-owm-night-612',
'wi wi-owm-night-615',
'wi wi-owm-night-616',
'wi wi-owm-night-620',
'wi wi-owm-night-621',
'wi wi-owm-night-622',
'wi wi-owm-night-701',
'wi wi-owm-night-711',
'wi wi-owm-night-721',
'wi wi-owm-night-731',
'wi wi-owm-night-741',
'wi wi-owm-night-761',
'wi wi-owm-night-762',
'wi wi-owm-night-781',
'wi wi-owm-night-800',
'wi wi-owm-night-801',
'wi wi-owm-night-802',
'wi wi-owm-night-803',
'wi wi-owm-night-804',
'wi wi-owm-night-900',
'wi wi-owm-night-902',
'wi wi-owm-night-903',
'wi wi-owm-night-904',
'wi wi-owm-night-906',
'wi wi-owm-night-957',
'wi wi-wu-chanceflurries',
'wi wi-wu-chancerain',
'wi wi-wu-chancesleat',
'wi wi-wu-chancesnow',
'wi wi-wu-chancetstorms',
'wi wi-wu-clear',
'wi wi-wu-cloudy',
'wi wi-wu-flurries',
'wi wi-wu-hazy',
'wi wi-wu-mostlycloudy',
'wi wi-wu-mostlysunny',
'wi wi-wu-partlycloudy',
'wi wi-wu-partlysunny',
'wi wi-wu-rain',
'wi wi-wu-sleat',
'wi wi-wu-snow',
'wi wi-wu-sunny',
'wi wi-wu-tstorms',
'wi wi-wu-unknown']]

include ../_partials/_template.slim