- content_box_file = '../misc/_content_pricing_plans.slim'
- no_padding = true
- white_bg = true
- no_breadcrumbs = true
- show_top_bar = false

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'dark'
- custom_menu_settings['color_style'] = 'bright'
- custom_menu_settings['layout'] = 'mini'


include ../_partials/_template.slim