/!
  ------------------
  START - Breadcrumbs
  ------------------
ul.breadcrumb
  li.breadcrumb-item
    a href="index.html" Home
  li.breadcrumb-item
    a href="index.html" Products
  li.breadcrumb-item
    span Laptop with retina screen
/!
  ------------------
  END - Breadcrumbs
  ------------------