script src="bower_components/jquery/dist/jquery.min.js"
script src="bower_components/popper.js/dist/umd/popper.min.js"
script src="bower_components/moment/moment.js"
script src="bower_components/chart.js/dist/Chart.min.js"
script src="bower_components/select2/dist/js/select2.full.min.js"
script src="bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"
script src="bower_components/ckeditor/ckeditor.js"
script src="bower_components/bootstrap-validator/dist/validator.min.js"
script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"
script src="bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"
script src="bower_components/dropzone/dist/dropzone.js"
script src="bower_components/editable-table/mindmup-editabletable.js"
script src="bower_components/datatables.net/js/jquery.dataTables.min.js"
script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"
script src="bower_components/fullcalendar/dist/fullcalendar.min.js"
script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"
script src="bower_components/tether/dist/js/tether.min.js"
script src="bower_components/slick-carousel/slick/slick.min.js"

// Bootstrap javascript
// Uncomment files with functionality you want
script src="bower_components/bootstrap/js/dist/util.js"
script src="bower_components/bootstrap/js/dist/alert.js"
script src="bower_components/bootstrap/js/dist/button.js"
script src="bower_components/bootstrap/js/dist/carousel.js"
script src="bower_components/bootstrap/js/dist/collapse.js"
script src="bower_components/bootstrap/js/dist/dropdown.js"
script src="bower_components/bootstrap/js/dist/modal.js"
/ script src="bower_components/bootstrap/js/dist/scrollspy.js"
script src="bower_components/bootstrap/js/dist/tab.js"
script src="bower_components/bootstrap/js/dist/tooltip.js"
script src="bower_components/bootstrap/js/dist/popover.js"

- if defined? extra_js_files
  - extra_js_files.each do |js_file|
    script src="#{js_file}"

script src="js/demo_customizer.js?version=#{template_version}"
script src="js/main.js?version=#{template_version}"
javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '#{google_analytics_id}', 'auto');
  ga('send', 'pageview');