/!
  ------------------
  START - User avatar and menu in secondary top menu
  ------------------
.logged-user-w
  .logged-user-i
    .avatar-w
      img src="img/avatar1.jpg" alt=""/
    include ../_partials/_user_hover_menu.slim
/!
  ------------------
  END - User avatar and menu in secondary top menu
  ------------------