- content_panel_file = '../_partials/_content_panel_5.slim'
- content_box_file = '../_partials/_content_box_2.slim'

- no_breadcrumbs = true

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['selected_menu_color'] = 'bright'
- custom_menu_settings['layout'] = 'compact'
- custom_menu_settings['show_user_in_menu'] = false
- custom_menu_settings['show_notifications_in_menu'] = false
- custom_menu_settings['show_search_in_menu'] = false
- custom_menu_settings['show_messages_in_menu'] = false
- custom_menu_settings['show_settings_in_menu'] = false
- custom_menu_settings['position'] = 'top'


include ../_partials/_template.slim