- content_box_file = '../_partials/_content_box_3.slim'

- show_top_bar = false

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'dark'
- custom_menu_settings['color_style'] = 'bright'
- custom_menu_settings['position'] = 'top'
- custom_menu_settings['layout'] = 'compact'
- custom_menu_settings['with_image'] = true


include ../_partials/_template.slim