- content_panel_file = '../_partials/_content_panel_5.slim'
- content_box_file = '../_partials/_content_box_2.slim'

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['layout'] = 'full'

include ../_partials/_template.slim