- content_box_file = '../apps/_content_support_dashboard.slim'

- no_breadcrumbs = true
- all_solid_bg = true
- show_top_bar = true

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['layout'] = 'compact'

include ../_partials/_template.slim