- content_box_file = '../_partials/_content_box_3.slim'

- show_top_bar = false
- no_breadcrumbs = true

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'dark'
- custom_menu_settings['color_style'] = 'bright'
- custom_menu_settings['layout'] = 'mini'
- custom_menu_settings['position'] = 'top'


include ../_partials/_template.slim