- content_box_file = '../_partials/_content_box_1.slim'

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['layout'] = 'compact'
- custom_menu_settings['position'] = 'side'
- custom_menu_settings['side'] = 'right'

include ../_partials/_template.slim