- content_box_file = '../users/_content_profile_big.slim'
- content_panel_file = '../_partials/_content_panel_2.slim'

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['layout'] = 'mini'

include ../_partials/_template.slim